@font-face {
    font-family: roboto;
    src: url(fonts/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: roboto;
    src: url(fonts/RobotoCondensed-Bold.ttf);
    font-weight:bold;
}
@font-face {
    font-family: roboto;
    src: url(fonts/RobotoCondensed-Light.ttf);
    font-weight:light;
}
/*project stylesheet*/
body, html{
    margin:0;
    background:lightgray;
    font-family: roboto;
}
/*database sidebar*/
#sidebar{
    height:100vh;
    width:100%;
    background:lightgray;
    display:block;
    color:black;
    padding-right:15px;
    padding-left:15px;
    overflow-y:scroll;
}
/*database table*/
tr{
    border:2px solid black;
}
th{
    border:1px solid gray;
    max-width: 200px;
}
.dropdown{
    background:none;
    border:none;
    width:100%; 
}
label{
    display:inline-block;
}
/*map view*/
#map{
    height:100vh;
    width:100%;
    background:#eaf0fa;
    border-left:black 2px solid;
    display:inline-block;
    border:none;
}
/*mobile view*/
@media screen and (max-width: 768px) {
    #map-container{
        height:50vh;
        padding-left:0;
    }
    #sidebar-container{
        padding-left:0 !important;
        height:50vh;
    }
    #participants-table{
        height:100%;
        display:block;
        overflow-y:scroll;
    }
    .container-fluid, .row{
        height:100vh;
    }
    #map{
        height:50vh;
        width:100%;
        position:absolute;
        top:0;
    }
    th{
        max-width:200px;
    }
}

@media screen and (max-width: 576px) {
    #map-container{
        height:40vh;
        padding-left:0;
    }
    #sidebar-container{
        padding-left:0 !important;
        height:60vh;
    }
    #participants-table{
        height:100%;
        display:block;
        overflow-y:scroll;
    }
    .container-fluid, .row{
        height:100vh;
    }
    #map{
        height:40vh;
        width:100vw;
        position:absolute;
        top:0;
    }
    th{
        max-width:75px;
    }
}